---
  import logo from "@assets/logo.png"

  import { Image } from "astro:assets"
---

<section class="flex flex-col items-center justify-center gap-3 mb-8">
  <div class="flex items-center justify-center">
    <Image class="h-30 w-auto" src={logo} alt="Logo" />
    <p class="font-poppins text-5xl font-bold">
      Sign <br> Sense
    </p>
  </div>
  <p class="font-inter font-medium text-lg text-center text-text/70 max-w-xl text-pretty">
    Real-time American Sign Language Recognition Using Machine Learning Models for Improved Communication Accessibility
  </p>
</section>