---
  import ASLReference from '../components/ASLReference.astro';
  import Hero from '../components/Hero.astro';
  import PredictionSection from '../components/PredictionSection.astro';
  import ServerStateDialog from '../components/ServerStateDialog.astro';
  import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="mx-auto max-w-7xl p-4">
    <Hero />
    <PredictionSection />
    <ServerStateDialog />
    <ASLReference />
  </div>
</Layout>
