---
  import Hero from '../components/Hero.astro';
  import PredictionSection from '../components/PredictionSection.astro';
  import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="mx-auto max-w-7xl p-4">
    <Hero />
    <PredictionSection />
  </div>
</Layout>
